nextjs-app/node_modules


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
nextjs-app/.pnp
nextjs-app/.pnp.*
nextjs-app/.yarn/*
nextjs-app/!.yarn/patches
nextjs-app/!.yarn/plugins
nextjs-app/!.yarn/releases
nextjs-app/!.yarn/versions

# testing
nextjs-app/coverage

# next.js
nextjs-app/.next/
nextjs-app/out/

# production
nextjs-app/build

# misc
.DS_Store
*.pem


# debug
nextjs-app/npm-debug.log*
nextjs-app/yarn-debug.log*
nextjs-app/yarn-error.log*

# env files (can opt-in for committing if needed)
nextjs-app/.env*

# vercel
nextjs-app/.vercel

# typescript
nextjs-app/*.tsbuildinfo
nextjs-app/next-env.d.ts
